/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Reset */
body {
  margin: 0;
  font-family: Arial;
}

/* Navbar */
nav {
  position: fixed;
  width: 100%;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #00aaff;
}

/* Sections */
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

/* Show animation */
.section.show {
  opacity: 1;
  transform: translateY(0);
}

/* Different background colors */
#home {
  background: #f5f5f5;
}

#about {
  background: #e3f2fd;
}

#projects {
  background: #fff3e0;
}